.active {
    background-color: lightcoral;
}

.done {
    color: lightgray;
}

#typing {
    margin: 0 auto;
    width: 50%;
}

#stats {
    margin: 0 auto;
    width: 50%;
}

.hidden {
    display: none;
}

body {
    text-align: center;
}